# Copy to parent directory of all applications /srv
services:
  # ========== POSTGRES DATABASE ==========
  authserver-db:
    build: ./authserver/database
    container_name: authserver-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:5432"
    networks:
      - aztech-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || exit 1",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s # Give PostgreSQL 30 seconds to initialize

  # ========== CADDY PROXY ==========
  caddy:
    image: caddy:2-alpine
    container_name: aztech-caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - /srv/aztech-caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - aztech-network
    depends_on:
      # - django-landing-app
      - authserver-frontend
      - authserver-backend

  # ========== AUTH SERVER ==========
  authserver-backend:
    build: ./authserver/backend
    container_name: authserver-backend
    restart: unless-stopped
    env_file: ./authserver/backend/.env
    depends_on:
      authserver-db:
        condition: service_healthy
    networks:
      - aztech-network

  authserver-frontend:
    build: ./authserver/frontend
    container_name: authserver-frontend
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - aztech-network

  # ========== DJANGO LANDING ==========
  # django-landing-app:
  #   image: django-landing-app
  #   container_name: django-landing-app
  #   restart: unless-stopped
  #   ports:
  #     - 8000:8000
  #   networks:
  #     - aztech-network

  # django-landing-db:
  #   image: postgres:18
  #   container_name: django-landing-db
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_DB: ${DJANGO_DB_NAME}
  #     POSTGRES_USER: ${DJANGO_DB_USER}
  #     POSTGRES_PASSWORD: ${DJANGO_DB_PASSWORD}
  #   volumes:
  #     - django_db_data:/var/lib/postgresql/data
  #   ports:
  #     - 5433:5432
  #   networks:
  #     - aztech-network

  # ========== PORTAINER ==========
  # portainer:
  #   image: portainer/portainer-ce:latest
  #   container_name: portainer
  #   restart: unless-stopped
  #   ports:
  #     - 9000:9000
  #     - 9443:9443
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - portainer_data:/data
  #   networks:
  #     - aztech-network

# SINGLE networks section at the end
networks:
  aztech-network:
    driver: bridge

# SINGLE volumes section at the end
volumes:
  caddy_data:
  caddy_config:
  postgres_data:
  django_db_data:
  portainer_data:
